div, h1 {
    margin: 2%;
    text-align: justify ;
}

li {
    list-style-type:none;
}
li:before {
    content:"\2014\0020";
}

.contactsInfo_columns {
    grid-column: span 1;
}

.contactsInfo {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 50em)) ;
}

.contacts {
    font-size: 25px;
}

.calc {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 50em)) ;
}

.calc_columns {
    grid-column: span 1;
}

.dataEntry {
    margin: 10px;
}